<div id="espcTp"></div>

<div id="espCont">

  <!-- Conteúdo -->

  <div id="espContInt">

    <div id="espContTitulo1" class="corCoral">
      Empresa Parceira do Clube Linkar!
    </div>

    <div id="espContLogo">

    </div>

    <div id="espContSobre">

      <b>{{vm.company.name}}</b>

      <p class="corVerde">
        {{vm.company.desc}}
      </p>

      <p>
        {{vm.company.addr}}
        <span ng-model="phone" ng-repeat="phone in vm.company.phones">
          &nbsp;|&nbsp;
          {{phone | brPhoneNumber}}
        </span>

        <a href="{{vm.company.site}}">
          {{vm.company.site}}
        </a>
      </p>

      <a href="{{vm.company.social.facebook}}" target="_blank" ng-if="vm.company.social.facebook">
        <img src="assets/images/demo/logotipo-facebook.png" width="30" height="30" />&nbsp;&nbsp;
      </a>
      <a href="{{vm.company.social.instagram}}" target="_blank" ng-if="vm.company.social.instagram">
        <img src="assets/images/demo/logotipo-instagram.png" width="30" height="30" />&nbsp;&nbsp;
      </a>
      <a href="{{vm.company.social.twitter}}" target="_blank" ng-if="vm.company.social.twitter">
        <img src="assets/images/demo/logotipo-twitter.png" width="30" height="30" />&nbsp;&nbsp;
      </a>
      <a href="{{vm.company.social.youtube}}" target="_blank" ng-if="vm.company.social.youtube">
        <img src="assets/images/demo/logotipo-youtube.png" width="30" height="30" />&nbsp;&nbsp;
      </a>

    </div>

    <div id="espContTitulo2" class="corCoral">
      Confira os produtos em destaque da {{vm.company.name}}:
    </div>

  </div>

  <div id="espProdEmpre">

    <div id="espProdEmpreInt">

      <div id="espContTitulo2" class="corCoral" ng-if="vm.products.length === 0">
        Não foram encontrados produtos em destaque para exibição.
      </div>

      <div class="espProdEmpreIntItem" ng-repeat="product in vm.products">
        <img src="http://lorempixel.com/280/280/technics/" width="280" height="280" />
        <h4 class="corVerde">{{product.name}}</h4>
        <strong class="corCoral">{{product.price}} LKR</strong>
      </div>



    </div>

  </div>

  <!-- Conteúdo -->

</div>

<div id="espcRdp"></div>
